<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon Rater</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
    <section class="title-wrapper">
        <div>
            <h1>Pokémon Rater</h1>
            <h2>by <span class="crossed">^ '</span></h2>
        </div>
    </section>
    <section class="focus-wrapper">
        <div>
            <h2>Users' Most Rated</h2>
            <ul class="leaderboard">
                <li>
                    <div>
                        <h3>#1 cumster#69420</h3>
                    </div>
                    <div>
                        <h3>1749#</h3>
                    </div>
                </li>
                <li>
                    <div>
                        <h3>#2 cumster#69420</h3>
                    </div>
                    <div>
                        <h3>1749#</h3>
                    </div>
                </li>
                <li>
                    <div>
                        <h3>#3 cumster#69420</h3>
                    </div>
                    <div>
                        <h3>1749#</h3>
                    </div>
                </li>
                <li>
                    <div>
                        <h4>#4 cumster#69420</h4>
                    </div>
                    <div>
                        <h4>1749#</h4>
                    </div>
                </li>
                <li>
                    <div>
                        <h4>#4 cumster#69420</h4>
                    </div>
                    <div>
                        <h4>1749#</h4>
                    </div>
                </li>
                <li>
                    <div>
                        <h4>#4 cumster#69420</h4>
                    </div>
                    <div>
                        <h4>1749#</h4>
                    </div>
                </li>
                <li>
                    <div>
                        <h4>#4 cumster#69420</h4>
                    </div>
                    <div>
                        <h4>1749#</h4>
                    </div>
                </li>
                <li>
                    <div>
                        <h4>#4 cumster#69420</h4>
                    </div>
                    <div>
                        <h4>1749#</h4>
                    </div>
                </li>
                <li>
                    <div>
                        <h4>#4 cumster#69420</h4>
                    </div>
                    <div>
                        <h4>1749#</h4>
                    </div>
                </li>
                <li>
                    <div>
                        <h4>#4 cumster#69420</h4>
                    </div>
                    <div>
                        <h4>1749#</h4>
                    </div>
                </li>
                <li>
                    <div>
                        <h4>#4 cumster#69420</h4>
                    </div>
                    <div>
                        <h4>1749#</h4>
                    </div>
                </li>
                <li>
                    <div>
                        <h4>#4 cumster#69420</h4>
                    </div>
                    <div>
                        <h4>1749#</h4>
                    </div>
                </li>
            </ul>
        </div>
        <div>
            <div class="focus-input-container">
                <div>
                    <input type="text" name="Username" placeholder="Username..." id="username-input">
                </div>
                <div>
                    <input type="button" value="START" class="cyan-btn">
                </div>
            </div>
        </div>
        <div>
            <h2>Global Ranking</h2>
            <ul class="leaderboard">
                <li>
                    <div>
                        <h3>#1 Weedle</h3>
                    </div>
                    <div>
                        <span class="s-tier"></span>
                    </div>
                </li>
                <li>
                    <div>
                        <h3>#1 Weedle</h3>
                    </div>
                    <div>
                        <span class="s-tier"></span>
                    </div>
                </li>
                <li>
                    <div>
                        <h3>#1 Weedle</h3>
                    </div>
                    <div>
                        <span class="a-tier"></span>
                    </div>
                </li>
                <li>
                    <div>
                        <h3>#1 Weedle</h3>
                    </div>
                    <div>
                        <span class="b-tier"></span>
                    </div>
                </li>
                <li>
                    <div>
                        <h3>#1 Weedle</h3>
                    </div>
                    <div>
                        <span class="c-tier"></span>
                    </div>
                </li>
                <li>
                    <div>
                        <h3>#1 Weedle</h3>
                    </div>
                    <div>
                        <span class="d-tier"></span>
                    </div>
                </li>
                <li>
                    <div>
                        <h3>#1 Weedle</h3>
                    </div>
                    <div>
                        <span class="d-tier"></span>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="cards-wrapper">
        <div>
            <div>
                <div>
                    <label for="s1" id="l1">
                        <div>
                            <h2>#2</h2>
                            <ul>
                                <li>
                                    <p>1265 kg</p>
                                    <p>162 m</p>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <img src="" alt="">
                                </li>
                                <li>
                                    <img src="" alt="">
                                </li>
                            </ul>
                            <img src="" alt="">
                        </div>
                    </label>
                    <label for="s2" id="l2">
                        <div>
                            <h2>#2</h2>
                            <ul>
                                <li>
                                    <p>1265 kg</p>
                                    <p>162 m</p>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <img src="" alt="">
                                </li>
                                <li>
                                    <img src="" alt="">
                                </li>
                            </ul>
                            <img src="" alt="">
                        </div>
                    </label>
                    <label for="s3" id="l3">
                        <div>
                            <h2>#2</h2>
                            <ul>
                                <li>
                                    <p>1265 kg</p>
                                    <p>162 m</p>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <img src="" alt="">
                                </li>
                                <li>
                                    <img src="" alt="">
                                </li>
                            </ul>
                            <img src="" alt="">
                        </div>
                    </label>
                    <label for="s4" id="l4">
                        <div>
                            <h2>#2</h2>
                            <ul>
                                <li>
                                    <p>1265 kg</p>
                                    <p>162 m</p>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <img src="" alt="">
                                </li>
                                <li>
                                    <img src="" alt="">
                                </li>
                            </ul>
                            <img src="" alt="">
                        </div>
                    </label>
                    <label for="s5" id="l5">
                        <div>
                            <h2>#2</h2>
                            <ul>
                                <li>
                                    <p>1265 kg</p>
                                    <p>162 m</p>
                                </li>
                            </ul>
                            <ul>
                                <li>
                                    <img src="" alt="">
                                </li>
                                <li>
                                    <img src="" alt="">
                                </li>
                            </ul>
                            <img src="" alt="">
                        </div>
                    </label>
                </div>
            </div>
        </div>
        <div>
            <input type="radio" name="slider" id="s1" checked>
            <input type="radio" name="slider" id="s2">
            <input type="radio" name="slider" id="s3">
            <input type="radio" name="slider" id="s4">
            <input type="radio" name="slider" id="s5">
        </div>
    </section>
</body>
</html>